@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url(https://images.unsplash.com/photo-1543353071-10c8ba85a904?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  padding: 18px;
}

#description {
  display: block;
  text-align: center;
  font-size: 23px;
  max-width: 39%;
  margin: 0 auto;
  background: white;
  padding: 10px;
  border-radius: 0.25rem;
}

.form {
  max-width: 40%;
  border-radius: 0.25rem;
  margin: 0 auto;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control {
  width: 100%;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  margin: 3px 5px 10px 0;
}

label {
  align-items: center;
  font-size: 1.125rem;
}
#survey-form {
  padding: 30px;
}

p {
  font-size: 21px;
}

#submit {
  type: flex;
  width: 100%;
  padding: 20px;
  margin: 10px auto;
  border-radius: 0.25em;
  background-color: #bae8bb;
  border: none;
  font-size: 15px;
  transition: easy-in-out, 200ms;
  font-family: "Poppins", sans-serif;
}

#submit:hover {
  cursor: pointer;
  background-color: #bdffbe;
}
.input-textarea {
  font-family: "Poppins", sans-serif;
  resize: vertical;
}

form {
  background: rgb(255, 255, 255, 0.8);
  border-radius: 0.25rem;
}
